<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    LJA todo list
  </h1>

  <form class="todoListsForm">
    <mat-form-field>
      <input matInput placeholder="new todosList name" [(ngModel)]="newTodosListName" name="newTodosListName"/>
    </mat-form-field>
    <button mat-raised-button color="primary"
            [disabled]="newTodosListName.length === 0"
            (click)="createTodoList()">
      Add
    </button>
    <div>
      <div style="display: inline-block">
        <mat-form-field>
          <input [disabled]="todosLists.length === 0" matInput #filterTodosList placeholder="filter todos lists"/>
        </mat-form-field>
        <div style="height: 400px; overflow-y: auto">
          <div *ngFor="let todosList of todosLists">
            <app-list-component [list]="todosList"></app-list-component>
          </div>
        </div>
      </div>
      <div class="details-panel">
        <div class="details-form" *ngIf="selectedTodosList">
          <div>
            <mat-form-field>
              <input [readonly]="!editMode" matInput placeholder="Name" name="selectedTodosList"
                     [(ngModel)]="selectedTodosList.name"/>
            </mat-form-field>
          </div>
          <div class="inline-block">
            <h2>Todos</h2>
          </div>
          <div class="inline-block">
            <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
          </div>
          <div style="height: 400px; overflow-y: auto">
            <div *ngFor="let todo of todosOfSelectedList">
              <mat-form-field>
                <input class="vertical-menu-item" [readonly]="true" matInput name="{{todo.id}}"
                       value="{{todo.name}}"
                       style="cursor: pointer"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
